.swiper-slide{
    width:100%;
}
.swiper_img_div{
    width:100%;
    height:4rem;
    background-size:cover;
    background-position: center center;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.job_type_div, .pengan{
    background:white;
}
.pengan_img{
    text-align: center;
}
.pengan_img > button{
    margin-top:0.2rem;
}
.pengan_img > img{
    width:100%;
}
.job_type_content{
    padding:0.25rem;
    overflow: hidden;
    border-bottom:1px #eaeaea solid;
}
.job_type_content > div{
    width:25%;
    padding:0.15rem;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    cursor: pointer;
}
.job_type > img {
    width: 0.7rem;
    height:0.7rem;
}
.job_type > span{
    color:#909090;
    font-size:0.27rem;
    padding-top:0.15rem;
}
.now_job{
    background:white;
    width:100%;
}
.now_job_content{
    padding:0.25rem;
    margin-top:0.25rem;
    border-bottom:1px #eaeaea solid;
}
.now_job_title{
    font-size:0.38rem;
    text-align: center;
    margin-bottom:0.25rem;
}
/*job_mes*/
.job_mes{
    display: flex;
    align-items: center;
    background:white;
    padding:0.15rem 0;
}
.job_mes > img{
    width:1.3rem;
}
.job_text_mes{
    display: flex;
    margin-left:0.2rem;
    width:100%;
}
.job_text_mes > div{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.job_text_div{
    margin-right:0.2rem;
    padding:0;
}
.job_money{
    padding:0.1rem 0;
    font-size:0.25rem;
    color:red;
    display: flex;
    align-items: center;
}
.job_introduce{
    padding: 0;
    color: #9c9c9c;
    font-size: 0.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
}
.job_mes:not(:first-child){
    margin-top:0.2rem;
}
.job_number{
    color:#9c9c9c;
    font-size:0.25rem;
}
.read_btn{
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read_btn > i{
    color:#686868;
}
.job_text_div h4{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    font-size:0.3rem;
}
.our_team{
    width:100%;
    background:white;
    border-bottom:1px #eaeaea solid;
}
.our_team_content{
    padding:0.25rem;
    width:100%;
}
.our_team_title{
    font-size:0.38rem;
    text-align: center;
    margin-bottom:0.25rem;
}
.team_content{
    color:#909090;
    text-align: center;
    margin-bottom:0.25rem;
}
.job_content{
    color:#909090;
    text-align: center;
    margin-bottom:0.25rem;
}
.team_img{
    width:100%;
    height:4rem;
    background-size:cover;
    background-position: center center;
    background-image:url("../../../assets/images/slider/1.jpg");
}
.our_cg{
    background:#f6f6f6;
    width:100%;
    border-bottom:1px #eaeaea solid;
}
.our_cg_content{
    width:100%;
    padding:0.25rem;
}
.cg_card{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px #eaeaea solid;
    padding:0.25rem;
    flex-flow: column;
}
.cg_photo_img{
    width:1rem;
    height:1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom:0.3rem;
}
.cg_name{
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-bottom:0.3rem;
    font-size:0.35rem;
}
.cg_pl{
    font-size:0.3rem;
    color:#909090;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 2;
    height:0.85rem;
    overflow: hidden;
    margin-bottom:0.3rem;
    text-align: center;
}
.swiper-container2{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.cg_btn{
    height:0.5rem;
}
.call_our_div{
    color:white;
    font-size:0.25rem;
    line-height: 20px;
    padding:0.05rem;
    margin-bottom:0.85rem;
    width:100%;
    background:url("../../../assets/images/join_us.png");
    background-size:cover;
}
.call_our_text{
    padding:0.35rem;
    color:white;
}
.loading_div{
    width:100%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
}
.loading_div > img{
    width:0.7rem;
    margin-top:0.1rem;
}
.evaluate_sj_loading{
    min-height:4.3rem;
}