.footer_div{
    /*color:white;*/
    /*font-size:0.25rem;*/
    /*line-height: 20px;*/
    /*padding:0.05rem;*/
    margin-bottom:0.85rem;
    /*width:100%;*/
    /*background:url("../../assets/images/join_us.png");*/
    /*background-size:cover;*/
}
.call_our_text{
    padding:0.35rem;
    color:white;
}