<title>游园活动 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>游园活动</span>
</div>
<div class="event_garden" *ngIf="state">
  <div class="gift_one">
    <div class="gift_text">
          <span class="small_text">满12.5元立减2.5元</span>
    </div>
    <div class="gift_integral">
      <span class="need_integral">免费</span>
      <div class="plane_btn" *ngIf="state === 'no'" (click)="get_q()">领取</div>
      <div class="plane_btn" *ngIf="state === 'has'" (click)="qrcode()">使用</div>
      <div class="plane_btn cant_click" *ngIf="state === 'use'">已使用</div>
    </div>
  </div>
</div>
<div class="event_text" *ngIf="state">
  <h3>游园活动详细</h3>
  <div>童鞋萌吼！我是激情四射00后的云务，作为天天躺宿舍冬眠的我，在游园这一天就要出山啦···</div>
  <div>这家在游园<b style="color:red;">106号</b>的关东煮店</div>
  <div class="border_div">
    <div>“同学”来一份牛肉丸</div>
    <div>多少钱</div>
    <div><b style="color:red;">三块！</b></div>
    <div>那海带结呢？</div>
    <div>憋问啦！所有关东煮</div>
    <div>素的！<b style="color:red;">一块五一串！</b></div>
    <div>荤的！<b style="color:red;">三块一串！</b></div>
    <div>是滴，就是介么便宜</div>
  </div>
  <div>如果每个季节</div>
  <div>都有一种代表味道的话，</div>
  <div>那关东煮的味道就是冬天的味道</div>
  <img src="../../../assets/images/event/4.png" alt="">
  <div>一份“咕噜咕噜”冒着热气的关东煮，</div>
  <div>鲜甜的汤带着Q弹的各式煮物，</div>
  <div>吃上一口，一秒治愈孤单和寒冷！</div>
  <img src="../../../assets/images/event/5.png" alt="">
  <div class="black_bg">价格几乎都是1—3元</div>
  <div>很容易挑得眼花缭乱，不过尽管任性放开拿！素菜一律<b style="color:red;">1.5元一串</b>，荤菜也都<b style="color:red;">3元一串</b>
    童鞋萌吃下去的是热腾腾的鲜美，留下来的是空杯，带走的则是回味。</div>
  <img class="small_img" src="../../../assets/images/event/8.jpg" alt="">
  <div>左手一杯关东煮，右手在来个黑夜中的星星就好了</div>
  <img src="../../../assets/images/event/7.png" alt="">
  <div>在晚上是会发光发亮的喔~~~~</div>
  <div>让你走到哪里都是焦点 >.<</div>
  <img src="../../../assets/images/event/1.png" alt="">
  <div>网红饮料统一售价：</div>
  <div>柠檬茶<b style="color:red;">8元！8元！8元！</b></div>
  <div>水果茶<b style="color:red;">12元！12元！12元！</b></div>
  <div>（20号，小情侣前来购买有水果滴网红饮料可享受第二杯半价哟）</div>
  <img class="small_img" src="../../../assets/images/event/6.jpg" alt="">
  <div>云务将在12月19—20日游园晚上106号摊位煮好关东煮等你下课喔~</div>
  <div>20号当天还会赠送限量版发光的牛角带（限量30个哟~）</div>
  <img src="../../../assets/images/event/2.png" alt="">
  <div>以为这样就结束了吗？</div>
  <b style="color:red;">不！！！！不是的！！！</b>
  <div>还有福利不要忘记拿了喂！就独宠你萌</div>
  <div class="border_div left_border_div">
      <div><b>单身汪福利：</b></div>
      <div>1、关注并分享推文至朋友圈集满18赞，于19号！19号！19号当天凭截图来到摊位，关东煮！！一律8.8折！</div>
      <div>2、于20号！20号！20号！当天前20名幸运儿来摊位购买会发光的网红饮料，赠送牛角一只！</div>
      <div>3、云务平台注册，进入游园晚会栏目，点击领取优惠券后，游园活动期间购买时（19日—20日）出示优惠券二维码给云务人员核销，即可享受“满12.5元减2.5元”的优惠活动（注：①此优惠券可以和集赞享8.8折叠加使用。②此券不包含20号的“情侣第二杯半价”活动。）</div>
      <div><b>小情侣福利：</b></div>
      <div>1、19号至20号前来106号摊位即可享受免费手磨咖啡（可以亲手为你的他/她磨杯爱心咖啡）</div>
      <div>2、20号！网红发光饮料情侣购买第二杯半价！半价！半价！重要事必须说三遍！</div>
  </div>
  <div (click)="to_top()"><b>点击回到顶部领取优惠券</b></div>
</div>
<div id="qrcode" style="display: none;"></div>
<div class="footer"></div>