ul,li{
    list-style: none;
    padding:0;
    margin:0;
}
.bottom_navbar{
    position: fixed;
    bottom:0;
    width:100%;
    height:0.85rem;
    background:#2ebdea;
    z-index: 999;
    transition: all 0.15s;
}
.bottom_navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.bottom_navbar > ul > li{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    cursor: pointer;
}
.bottom_navbar > ul > li > span:nth-child(1){
    color:white;
    font-size:0.28rem;
    display: block;
}
.bottom_navbar > ul > li > span:nth-child(2){
    color: white;
    font-size: 0.23rem;
    display: block;
    margin-top: 0.04rem;
    height: 14px;
}