.sj_div{
    width:100%;
    padding:0 0.25rem 0.25rem 0.25rem;
}
.sj{
    background:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:0.2rem;
    margin-top:0.25rem;
}
.demand_header > span{
    padding-left:0.2rem;
    color:#777;
}
.demand_header > img{
    width:0.7rem;
    height:0.7rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.text{
    padding:0.1rem 0.9rem;
    word-break: break-all;
}
.img_box{
    margin-left:0.8rem;
    /* padding:0.1rem 0; */
    overflow: hidden
}
.img_box > div{
    width:1.5rem;
    height:1.5rem;
    margin:0.1rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    background-image: url("../../../assets/images/loading_2.gif");
}
.img_box > div > img{
    width:100%;
}
.over{
    color:#3ee62c;
    cursor: pointer;
    margin-left:0.2rem;
    font-size:0.25rem;
}
.create_time{
    margin-left:0.9rem;
    font-size:0.25rem;
    color:#777;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.type_div{
    padding:0.03rem 0.1rem;
    font-size:0.2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right:0.2rem;
    position: relative;
    top:-1px;
}
.call_me{
    color:#2ebdea;
    cursor: pointer;
    font-size:0.25rem;
}
.type_1{
    background:#78f078;
    color:white;
}
.type_2{
    background:#f095f6;
    color:white;
}
.user_list{
    margin-top: 0.25rem;
    padding: 0.2rem;
    text-align: center;
    color: #777;
    font-size:0.25rem;
}
.type_3{
    background:orange;
    color:white;
}
.find_address{
    padding: 0.1rem 0.9rem 0.2rem 0.9rem;
    color:#777;
    font-size:0.25rem;
}
.custom-select {
    position: relative;
    background:white;
    padding:0.1rem 0;
}
.custom-select select {
    width:100%;
    margin:0;
    background:none;
    border: 1px solid transparent;
    outline: none;
    /* Prefixed box-sizing rules necessary for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Remove select styling */
    appearance: none;
    -webkit-appearance: none;
    /* Font size must the 16px or larger to prevent iOS page zoom on focus */
    /* General select styles: change as needed */
    font-family: helvetica, sans-serif;
    font-weight: bold;
    color: #444;
    padding: .6em 1.9em .5em .8em;
    line-height:1.3;
    background:white;
}
.custom-select::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    right: 8px;
    margin-top:-4px;
    border:8px solid #929497;
    border-width: 8px 5px 8px;
    border-color: #929497 transparent transparent transparent;
    z-index: 2;
    pointer-events:none;
}
.custom-select option {
    font-weight:normal;
}
x:-o-prefocus, .custom-select::after {
    display:none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .custom-select select::-ms-expand {
        display: none;
    }
    .custom-select select:focus::-ms-value {
        background: transparent;
        color: #222;
    }
}
.custom-select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}