<title>失物招领 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <div class="add_demand posi_left" routerLink="/send-recruitment">
    <i class="material-icons">
      add
    </i>
  </div>
  <span>失物招领</span>
</div>
<img src="../../../assets/images/loading_2.gif" (load)="loading_2_load()" style="display: none" alt="">
<div class="user_list" *ngIf="sj && !sj_length">
  <span>暂无数据</span>
</div>
<div class="sj_div">
  <div class="sj" *ngFor="let i of sj">
    <div class="demand_header">
      <img class="user_img" src="{{ i?.user?.user_img }}" alt="">
      <span>{{ i?.user?.nickname }}</span>
    </div>
    <div class="text">
      <span class="type_div type_1" *ngIf="i?.type == 1">丢失</span>
      <span class="type_div type_2" *ngIf="i?.type == 2">捡到</span>
      <span class="type_div type_3" *ngIf="i?.to_scs == 1">已转交至天工楼301</span>
      <span>{{ i?.text }}</span>
    </div>
    <div class="img_box" *ngIf="i?.img_list.length">
      <div *ngFor="let img of i?.img_list">
        <img data-load="0" id = "{{ img }}" src="../../../assets/images/loading_2.gif" (load)="img_onload($event.currentTarget)" (click)="asd($event.currentTarget)">
      </div>
    </div>
    <div class="find_address" *ngIf="i?.to_scs != 1 && i?.type != 1">
      <span>领取地址：{{ i?.find_address }}</span>
    </div>
    <div class="create_time">
      <span>{{ i?.create_time }}</span>
      <div>
        <span class="call_me" (click)="call_me_alert(i?.user?.name)">联系我</span>
        <span class="over">完成</span>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>