<div class="Ditumap">
    <div style="margin-bottom:10px;">
        <input id="searchplace" style="width: 550px;" class="easyui-textbox-simple" placeholder="输入搜索关键字" />
        <button id="s_p_search_btn" class="easyui-linkbutton" style="width: 80px;" iconcls="icon-search">搜索</button>
    </div>
    <!--<div id="searchlist" style="width: 350px; height: 460px; margin-right:10px; float:left;"></div>-->
    <div style="width:100%;height:460px;border:none; float:left;" id="BaiduDitu"></div>
    <div style="clear:both;"></div>
    <div id="jwd"></div>
</div>