<title>兼职详细 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>兼职详细</span>
</div>
<div class="">
  <div class="job_header job_detail">
    <h3>{{ sj?.job_title }}</h3>
    <h3 class="job_money">{{ sj?.admin_change_money }}<span style="font-size:0.25rem;font-weight: normal;position: relative;bottom:1px;"> 元/{{ sj?.money_type }}</span></h3>
    <div class="job_text_content">
      <span>{{ (sj?.time_type == 'short') ? "短期" : "长期" }}</span>
      <span>{{ sj?.balance_type }}</span>
      <span>{{ sj?.job_num }}人</span>
      <span>{{ sj?.job_type }}</span>
      <span>企业认证</span>
    </div>
  </div>
  <div class="job_money_detail job_detail">
    <div>
      <p>职位描述</p>
      <div class="job_detail_text">
        <div>{{ (sj?.job_detail_content == "无") ? "" : sj?.job_detail_content }}</div>
        <div>{{ (sj?.job_detail_time == "无") ? "" : sj?.job_detail_time }}</div>
        <div>{{ (sj?.job_remarks == "无") ? "" : sj?.job_remarks }}</div>
        <div>工作时间：<span style="color:red;">{{ sj?.job_start_time }}</span> 至 <span style="color:red;">{{ sj?.job_end_time }}</span> 中途休息：<span style="color:red;">{{ sj?.job_rest }}小时</span></div>
      </div>
    </div>
    <hr>
    <div>
      <p>兼职要求</p>
      <div>
        <div class="job_detail_text">{{ sj?.job_action }}</div>
      </div>
    </div>
    <hr>
    <div>
      <p>福利</p>
      <div class="money_hhh">
        {{ sj?.balance_type }}：{{ sj?.admin_change_money }}元<br>{{ (sj?.job_detail_subsidy == "无") ? "" : sj?.job_detail_subsidy  }}
      </div>
    </div>
  </div>
  <div class="job_time job_detail">
    <p>工作时间</p>
    <div class="job_start_end_date">
      <span>开始日期</span>
      <span></span>
      <span>{{ sj?.job_start_date }}</span>
    </div>
    <div class="job_start_end_date time_show">
      <span style="visibility: collapse;">结束日期</span>
      <span style="display: none;"></span>
      <span class="time_detail_all">每天{{ sj?.job_start_time }}开始工作{{ (sj?.job_detail_time == "无") ? "" : "，" + sj?.job_detail_time }}</span>
    </div>
    <div class="job_start_end_date" *ngIf="sj?.time_type == 'short'">
      <span>结束日期</span>
      <span></span>
      <span>{{ sj?.job_end_date }}</span>
    </div>
  </div>
  <div class="job_detail job_place">
    <p>工作地点</p>
    <div id="allmap" style="width:100%;height:4rem;"></div>
  </div>
  <div class="job_detail job_bm_btn_div">
    <button class="scs-btn btn" *ngIf="sj?.job_num > sj?.job_has_num" (click) = "job_sign(sj?.id)">报名（剩下<span style="padding:0 5px;">{{ sj?.job_num - sj?.job_has_num }}</span>个名额）</button>
    <button class="btn btn-danger" *ngIf="sj?.job_num == sj?.job_has_num">人数已满</button>
  </div>
</div>
<div class="footer"></div>