<title>信息填写 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>{{ (status == '') ? '填写信息' : '企业信息' }}</span>
</div>
<div class="register_meessage" style="display: none;">
  <div class="auto_div">
    <div class="alert alert-danger" *ngIf="status == 'refuse'" role="alert">
      信息未通过审核
    </div>
    <form>
      <div class="form-group">
        <label for="nameInput">企业名</label>
        <input type="text" class="form-control" [(ngModel)]="name" name="name" id="nameInput" placeholder="企业名">
        <span data-error="name" class="error_text"></span>
      </div>
      <div class="form-group">
        <label for="emailInput">邮箱</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" id="emailInput"
               placeholder="邮箱">
        <span data-error="email" class="error_text"></span>
      </div>
      <div class="form-group">
        <label for="emailInput">办公地</label>
        <input type="place" class="form-control" name="place" [(ngModel)]="place" id="placeInput"
               placeholder="办公地">
        <span data-error="place" class="error_text"></span>
      </div>
      <div class="form-group">
        <label for="emailInput">注册号或信用代码</label>
        <input type="code" class="form-control" name="place" [(ngModel)]="code" id="codeInput"
               placeholder="注册号或信用代码">
        <span data-error="code" class="error_text"></span>
      </div>
      <div class="form-group">
        <label>企业证明</label>
        <span class="pla_text">(营业执照)</span>
        <br>
        <input type="file" id="school_img" style="display: none;" (change)="img_do($event.currentTarget)">
        <img class="upload_img_btn" src="../../../assets/images/upload.png" alt="" (click)="upload_img()">
        <span data-error="prove" class="error_text"></span>
      </div>
      <button type="button" (click)="upload_message($event.currentTarget)" class="btn btn-success upload_message">
        提交信息
      </button>
    </form>
  </div>
</div>
<div class="profile" style="display: none;">
  <div class="auto_div">
    <div class="alert alert-warning" *ngIf="status == 'examine'" role="alert">
      信息正在审核中
    </div>
    <div class="alert alert-success" *ngIf="status == 'adopt'" role="alert">
      信息已通过审核
    </div>
    <div class="form-group">
      <label for="">企业名：</label>
      <span>{{ profile?.name }}</span>
    </div>
    <div class="form-group">
      <label for="">信用代码或注册号：</label>
      <span>{{ profile?.code }}</span>
    </div>
    <div class="form-group">
      <label for="">办公地：</label>
      <span>{{ profile?.place }}</span>
    </div>
    <div class="form-group">
      <label for="">邮箱：</label>
      <span>{{ profile?.email }}</span>
    </div>
    <hr>
    <div class="form-group" style="color:red;">
      <label for="">信用：</label>
      <span>{{ credit?.credit }}</span>
    </div>
    <hr>
    <div class="form-group">
      <label for="">认证：</label>
      <img class="profile_prove" src="{{ profile?.prove }}" alt="">
    </div>
    <button class="btn scs-btn again_upload_btn" (click)="again_enterprise()">重新填写信息</button>
  </div>
</div>
