.admin_text{
    padding: 0rem 0.35rem 0.35rem 0.35rem;
    min-height:100%;
    position: relative;
    background:white;
}
.admin_sign_job{
    width:100%;
    background:white;
}
.user_list:not(:first-child){
    margin-top:0.25rem;
}
.have_sj_div{
    margin-top:0 !important;
}
.user_list{
    background:white;
    padding:0.2rem;
    border:1px #eaeaea solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size:0.25rem;
}
.admin_main_div{
    margin-bottom:0.85rem;
}
.user_list > div{
    flex: 1;
}
.img_div{
    overflow: hidden;
}
.img_div > img{
    margin-top:0.1rem;
    width:100%;
}
.do_btn{
    text-align: center;
    margin-top:0.2rem;
}
.do_btn > button{
    margin:0 0.1rem;
}
.btn_div{
    padding: 0.15rem 0.25rem;
    overflow: hidden;
}
.btn_div > div{
    margin:0.1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px #eaeaea solid;
    padding:0.1rem 0.2rem;
    float:left;
    cursor: pointer;
    font-size:0.3rem
}
.active{
    background:#2ebdea;
    color:white;
}
.no_sj{
    border:none;
}
.active{
    background:#2ebdea;
    color:white;
}