<title>我的动态 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <div class="add_demand posi_left" routerLink="/send-demand">
    <i class="material-icons">
      add
    </i>
  </div>
  <span>我的动态</span>
</div>
<div class="demand_div" *ngIf="show_sj && show_sj != ''">
  <div class="user_list" *ngIf="show_sj && show_sj == ''">
    <p>暂时没有动态</p>
  </div>
  <div class="demand" *ngFor="let i of show_sj">
    <div class="demand_header">
      <img class="user_img" src="{{ i?.user?.user_img }}" alt="">
      <span>{{ i?.user?.nickname }}</span>
    </div>
    <div class="demand_body" *ngIf="i?.text">
      {{ i?.text }}
    </div>
    <div class="demand_media" *ngIf="i?.media_arr != ''">
      <div class="media_div {{ (media?.type == 'video') ? 'video_media_div' : '' }}" *ngFor="let media of i?.media_arr">
        <img data-type="image" *ngIf="media?.type == 'image'" src="{{ media?.path }}" alt="">
        <video data-type="video" controls *ngIf="media?.type == 'video'" src="{{ media?.path }}"></video>
      </div>
    </div>
    <div class="demand_create_time">
      <span>{{ i?.create_time }}</span>
      <div class="demand_z">
        <span style="padding-right:0.13rem">{{ i?.like }}</span>
        <i data-heart="false" class="fa fa-heart-o"></i>
        <i (click)="del_demand(i?.id,i)" class="fa fa-trash-o" style="margin-left:0.3rem;font-size:0.32rem;color:red;"></i>
      </div>
    </div>
  </div>
  <div class="loading_div evaluate_sj_loading">
    <img src="../../../assets/images/loading.gif" *ngIf="!no_sj" alt="">
    <span class="is_down" *ngIf="no_sj">已经是最底部了</span>
  </div>
</div>
<div class="img_big" style="display: none;">
  <img src="" alt="">
</div>
<div class="footer"></div>