<title>评价与建议 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>评价与建议</span>
</div>
<!-- 把反馈模板拉了过来 所以class没有改 -->
<div class="main_div_height job_feedback">
  <div class="job_feedback_div" *ngIf="sj">
    <input class="form-control" id="job_title" name="job_title" placeholder="兼职" disabled type="text" value="{{ sj?.job_title }}">
    <div class="type_div">
      <div class="good active" (click)="qh_active('good')">
        <img src="../../../assets/images/good.png" alt="">
        <span>好评</span>
      </div>
      <div class="bad" (click)="qh_active('bad')">
        <img src="../../../assets/images/bad.png" alt="">
        <span>差评</span>
      </div>
    </div>
    <textarea name="" id="" cols="30" rows="10" class="form-control feedback_textarea" #value placeholder="尽情的说吧～"></textarea>
    <button class="feedback_button btn scs-btn" (click)="upload_text(value.value,sj?.id)">提交评价</button>
  </div>
</div>