<title>失物招领 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>失物招领</span>
</div>
<div class="user_list" *ngIf="sj && !sj_length">
  <span>暂无数据</span>
</div>
<div class="sj_div">
  <div class="sj" *ngFor="let i of sj">
    <div class="demand_header">
      <img class="user_img" src="{{ i?.user?.user_img }}" alt="">
      <span>{{ i?.user?.nickname }}</span>
    </div>
    <div class="text">
      <span class="type_div type_1" *ngIf="i?.type == 1">丢失</span>
      <span class="type_div type_2" *ngIf="i?.type == 2">捡到</span>
      <span>{{ i?.text }}</span>
    </div>
    <div class="img_box">
      <div *ngFor="let img of i?.img_list">
        <img src="{{ img }}" alt="" (click)="asd($event.currentTarget)">
      </div>
    </div>
    <div class="create_time">
      <span>{{ i?.create_time }}</span>
      <div>
        <span class="del" *ngIf="i?.over != 1" (click)="del(i?.id,i)">删除</span>
        <span *ngIf="i?.to_scs == 0 && i?.type == 2" class="to_scs" (click)="to_scs(i?.id)">转交</span>
        <span class="is_to" *ngIf="i?.to_scs == 1 && i?.over != 1">已转交</span>
        <span class="over"  *ngIf="i?.over == 0" (click)="over(i?.id,i)">完成</span>
        <span class="is_to" *ngIf="i?.over == 1">已完成</span>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>