<title>我的 - 云屯务集</title>
<div class="header">
  <span>我的</span>
</div>
<div class="myself_all">
  <div class="myself_img_div">
    <div class="user_img_div">
      <div class="bg_img"></div>
      <div class="setting">
        <div class="kx-card-dropdown-btn" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
          <i class="material-icons kx-dropdown-col-white">more_vert</i>
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" (click)="update_user_img()" type="button">修改头像</button>
          <button class="dropdown-item" (click)="change_nickname()" type="button">修改昵称</button>
          <button class="dropdown-item" (click)="sign_out()" type="button">退出登录</button>
        </div>
      </div>
      <!--<div class="sign_out" (click)="sign_out()">-->
        <!--<i class="fa fa-sign-out"></i>-->
      <!--</div>-->
      <div class="user_text_div">
        <div class="le_div">
          <span class="lev_text" *ngIf="o_user?.role == 'admin' || o_user?.role == 'student'">Lv{{ o_user?.level }}</span>
          <img (click)="update_user_img()" src="{{ o_user?.user_img }}" alt="">
        </div>

        <p class="user_nickname">{{ o_user?.nickname }}</p>
        <div style="display: none;" class="change_input_div">
          <input type="text" class="change_nickname_input" #nickname value="{{ o_user?.nickname }}" maxlength="15">
          <i class="fa fa-check" (click)="api_change_nickname(nickname.value)"></i>
        </div>
      </div>
    </div>
    <div class="user_status">
      <!--status_in_active-->
      <div class="status_in {{ (user?.job_status == 'in') ? 'status_in_active' : '' }}">
        兼职中
      </div>
      <div class="status_wait {{ (user?.job_status == 'wait') ? 'status_wait_active' : '' }}">
        等兼职
      </div>
      <div class="status_off {{ (user?.job_status == 'off') ? 'status_off_active' : '' }}">
        不兼职
      </div>
    </div>
  </div>
  <div class="user_list">
    <div class="myself_list" routerLink="/register-detail" *ngIf="o_user?.role === 'student' || o_user?.role === 'admin'">
      <img src="../../../assets/images/my_message.png" alt="">
      <span>个人信息</span>
    </div>
    <div class="myself_list" routerLink="/enterprise-detail" *ngIf="o_user?.role === 'enterprise'">
      <img src="../../../assets/images/my_message.png" alt="">
      <span>企业信息</span>
    </div>
    <div class="myself_list" *ngIf="o_user?.role === 'admin'" (click)="to_admin()">
      <img src="../../../assets/images/admin.png" alt="">
      <span>管理员</span>
    </div>
    <div class="myself_list" routerLink="/my-job" *ngIf="o_user?.role === 'student' || o_user?.role === 'admin'">
      <img src="../../../assets/images/parttime_job.png" alt="">
      <span>我的兼职</span>
    </div>
    <div class="myself_list" routerLink="/enterprise-job" *ngIf="o_user?.role === 'enterprise'">
      <img src="../../../assets/images/parttime_job.png" alt="">
      <span>我的兼职</span>
    </div>
    <div class="myself_list" *ngIf="o_user?.role != 'enterprise'" routerLink="/integral-shop">
      <img src="../../../assets/images/integral.png" alt="">
      <span>积分商城</span>
    </div>
    <div class="myself_list" routerLink="/my-recruitment">
      <img src="../../../assets/images/recruitment.png" alt="">
      <span>失物招领</span>
    </div>
    <div class="myself_list" routerLink="/credit-user">
      <img src="../../../assets/images/reputation.png" alt="">
      <span>我的信用</span>
    </div>
    <div class="myself_list" routerLink="/user-bill">
      <img src="../../../assets/images/bill.png" alt="">
      <span>我的账单</span>
    </div>
    <div class="myself_list" routerLink="/my-demand">
      <img src="../../../assets/images/dynamic.png" alt="">
      <span>我的动态</span>
    </div>
    <div class="myself_list" (click)="to_reset()">
      <img src="../../../assets/images/password.png" alt="">
      <span>修改密码</span>
    </div>
    <div class="myself_list" routerLink="/customer">
      <img src="../../../assets/images/customer.png" alt="">
      <span>联系客服</span>
    </div>
    <div class="myself_list">
      <img src="../../../assets/images/help.png" alt="">
      <span>使用说明</span>
    </div>
  </div>
</div>
<!--<input type="file" style="display: none;" (change)="user_img_base64($event.currentTarget)" class="update_user_img_file">-->
<!--图片裁剪框 start-->
<div style="display: none" class="tailoring-container">
  <div class="black-cloth" onclick="closeTailor(this)"></div>
  <div class="tailoring-content">
    <div class="tailoring-content-one">
      <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
        <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
        选择图片
      </label>
      <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
    </div>
    <div class="tailoring-content-two">
      <div class="tailoring-box-parcel">
        <img id="tailoringImg">
      </div>
    </div>
    <div class="tailoring-content-three">
      <button class="l-btn cropper-reset-btn qp_btn">复位</button>
      <button class="l-btn cropper-rotate-btn qp_btn">旋转</button>
      <button class="l-btn cropper-scaleX-btn qp_btn">换向</button>
      <button class="l-btn sureCut" id="sureCut">确定</button>
    </div>
  </div>
</div>
<!--图片裁剪框 end-->