.demand{
    background:white;
    border-bottom:1px #eaeaea solid;
    padding:0.25rem;
}
.demand_header > span{
    padding-left:0.2rem;
}
.loading_div{
    width:100%;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
}
.loading_div > img{
    width:0.7rem;
    margin-top:0.1rem;
}
.evaluate_sj_loading{
    min-height:1rem;
}
.demand_header > img{
    width:0.7rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.demand_body{
    margin-top:0.2rem;
    margin-left:0.9rem;
}
.demand_create_time{
    margin-top:0.3rem;
    font-size:0.2rem;
    margin-left:0.9rem;
    color:#777;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.demand_z{
    font-size:0.3rem;
}