.admin_list{
    padding: .15rem .15rem;
    overflow: hidden;
}
.admin_list > div{
    width: calc(50% - 0.2rem);
    height: 0.5rem;
    border-radius: 5px;
    padding: 1rem .3rem;
    color: #fff;
    font-size: .3rem;
    margin-top: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    float: left;
    margin: 0.1rem;
    /* box-sizing: content-box; */
    text-align: center;
}
.user_mes_personal{
    background: #2ebdea;
}
.job_mes_personal, .job_over_evaluate_student{
    background:orange;
}
.leader_user, .event{
    background: #e27fad;
}
.job_feedback{
    background:#28d628;
}
.customer{
    background:#dcdc0c;
}
.enterprise_mes_personal, .job_over{
    background:#ff9e9e;
}
.recruitment{
    background:orange;
}
.admin_function, .gift{
    background:#777;
}
.index_evaluate,.send_numerical{
    background:#5cd683;
}
.job_sign_people{
    background:#cddc39;
}