<title>后台 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>后台管理</span>
</div>
<div class="admin_list" *ngIf="status == 'ok'">
  <div class="admin_function" routerLink="/admin-function">
    管理员功能
  </div>
  <div class="leader_user" routerLink="/scs-num">
    平台数据
  </div>
  <div class="user_mes_personal" routerLink="/admin-user">
    个人信息审核
    <span class="scs_le_red">{{ admin_treated_num?.user }}</span>
  </div>
  <div class="enterprise_mes_personal" routerLink="/admin-enterprise">
    企业信息审核
    <span class="scs_le_red">{{ admin_treated_num?.enterprise }}</span>
  </div>
  <div class="job_mes_personal" routerLink="/admin-job">
    兼职信息审核
    <span class="scs_le_red">{{ admin_treated_num?.job }}</span>
  </div>
  <div class="job_sign_people" routerLink="/admin-job-sign">
    兼职报名审核
    <span class="scs_le_red">{{ admin_treated_num?.job_sign }}</span>
  </div>
  <div class="leader_user" routerLink="/admin-leader">
    负责人管理
  </div>
  <div class="job_feedback" routerLink="/admin-job-feedback">
    兼职反馈
    <span class="scs_le_red">{{ admin_treated_num?.feedback }}</span>
  </div>
  <div class="customer" routerLink="/admin-customer">
    客服中心
    <span class="scs_le_red">{{ admin_treated_num?.customer }}</span>
  </div>
  <div class="index_evaluate" routerLink="/admin-evaluate">
    首页评价展示
  </div>
  <div class="job_over" routerLink="/admin-over-job">
    已完结的兼职以及对学生的评价
  </div>
  <div class="event" routerLink="/admin-event">
    活动
  </div>
  <div class="gift" routerLink="/admin-gift">
    积分礼品券
  </div>
  <div class="send_numerical" routerLink="/admin-send-numerical">
    管理员给予积分信用经验值
  </div>
  <div class="recruitment" routerLink="/admin-recruitment">
    失物招领
  </div>
</div>
<div class="footer"></div>