<title>失物招领 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>失物招领</span>
</div>
<div *ngIf="sj && !sj_length" class="user_list">
  没有数据
</div>
<div class="sj_div">
  <div class="sj" *ngFor="let i of sj">
    <div class="text">
      <span class="type_div type_1" *ngIf="i?.type == 1">丢失</span>
      <span class="type_div type_2" *ngIf="i?.type == 2">捡到</span>
      <span>{{ i?.text }}</span>
    </div>
    <div class="img_box">
      <div *ngFor="let img of i?.img_list">
        <img src="{{ img }}" alt="" (click)="asd($event.currentTarget)">
      </div>
    </div>
    <div class="create_time">
      <span>{{ i?.create_time }}</span>
      <div>
        <span (click)="del_sj(i?.id, i)" *ngIf="i?.over == 0" class="del">删除</span>
        <span class="over" *ngIf="i?.over == 0">完成</span>
        <span class="is_to" *ngIf="i?.over == 1">已完成</span>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>