<title>我的提问 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>我的提问</span>
</div>
<div class="customer_div">
  <div class="btn_div">
    <div class="job_list" routerLink="/customer">联系客服</div>
    <div class="job_send active" routerLink="/my-customer">我的提问</div>
  </div>
  <div class="my_customer_div">
    <div class="user_list" *ngIf="sj && sj == ''">
      <p>你还没有提出任何问题</p>
    </div>
    <div class="my_customer" *ngFor="let i of sj">
      <p class="customer_title">{{ i?.text }}</p>
      <div class="an" *ngIf="i?.an == ''">客服暂未回答</div>
      <div class="an" *ngIf="i?.an != ''">客服回答：{{ i?.an?.text }}</div>
    </div>
  </div>
</div>
<div class="footer"></div>