<title>客服回答 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>客服回答</span>
</div>
<div class="customer_div main_div_height">
  <div class="chat_big_div">
    <div class="user_list" *ngIf="sj && sj == ''">
      <p>你还没有发送任何问题</p>
    </div>
    <div class="user_list_m" *ngIf="sj && sj != ''">
      <p>已进行加密处理</p>
    </div>
    <div class="chat_for" *ngFor="let i of sj">
      <div class="chat_my chat_div" *ngIf="i?.status == 'an'">{{ i?.text }}</div>
      <div class="chat_admin chat_div" *ngIf="i?.status == 'qu'">{{ i?.text }}</div>
    </div>
  </div>
  <div class="input_div">
    <input type="text" placeholder="谨慎回答问题噢～" #text>
    <button class="btn scs-btn" (click)="an_q(text.value)">回答</button>
  </div>
</div>
<div class="footer"></div>