<title>客服中心 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>客服中心</span>
</div>
<div class="customer_div">
  <div class="my_customer_div">
    <div class="user_list" *ngIf="sj && sj == ''">
      <p>暂时没人提出问题</p>
    </div>
    <div class="my_customer" *ngFor="let i of sj" routerLink="/admin-customer-detail/{{ i?.user_id }}">
       <div class="customer_title">来自 <span style="color:red">{{ i?.user?.name }}</span> 的提问</div>
       <div class="customer_status">
         <span *ngIf="i?.last?.status == 'qu'" style="color:#ffb328">未处理</span>
         <span *ngIf="i?.last?.status == 'an'" style="color:#2ebdea">已处理</span>
       </div>
    </div>
  </div>
  <div class="footer_div"></div>
</div>
