<title>管理员功能 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>管理员功能</span>
</div>
<div class="function_div">
  <div routerLink="/send-job">发布兼职</div>
  <div routerLink="/find-job">所有兼职</div>
  <div routerLink="/my-job">我的兼职</div>
  <div routerLink="/enterprise-job">我发布的兼职</div>
  <div routerLink="/register-detail">我的个人信息</div>
  <div routerLink="/enterprise-detail">我的企业信息</div>
</div>
<div class="footer"></div>