<title>发布 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>发布</span>
</div>
<div class="recruit_div main_div_height">
  <div class="type_div">
    <div class="good active" (click)="qh_active('good',$event.currentTarget)">
      <span>丢了东西</span>
    </div>
    <div class="bad" (click)="qh_active('bad',$event.currentTarget)">
      <span>捡到东西</span>
    </div>
  </div>
  <div class="wp_text">
    <div>描述：</div>
    <textarea name="" [(ngModel)]="text" class="form-control" placeholder="请填写物品的描述以及丢失位置" id="" rows="3"></textarea>
  </div>
  <div class="wp_text address" *ngIf="type == 2">
    <div>领取地址：</div>
    <textarea name="" [(ngModel)]="address" class="form-control" placeholder="请填写物品领取地址" id="" rows="3"></textarea>
  </div>
  <div class="form-group img_box_div">
    <div class="img_span_le">
      <span class="img_span">上传图片方便您快速找回</span>
      <span>{{ img_list.length }} / 3</span>
    </div>
    <div class="img_box">
      <div class="img_div" *ngFor="let i of img_list">
        <div class="del_div" (click)="del_img(i)">
          <i class="material-icons">
            add
          </i>
        </div>
        <img src="{{ i }}">
      </div>
      <div class="recruit_add_img" (click)="add_img()" *ngIf="img_list.length < 3">
        <i class="material-icons">
          add
        </i>
      </div>
    </div>
  </div>
  <button class="btn scs-btn wid_100" (click)="send_rec()">发布</button>
  <span class="ps">注：发布将会公布您的联系方式</span>
  <span class="ps">注：可将捡到的物品交到深圳技师学院天工楼301，我们将会帮您转交失主。</span>
  <input type="file" style="display: none;" (change)="file_change($event.currentTarget)">
</div>