.recruit_div{
    width:100%;
    padding:0.25rem;
    background:white;
}
.active{
    background:#e3f8ff !important;
}
.recruit_textarea{
    margin-top:0.2rem;
}
.wid_100{
    width:100%;
}
.recruit_add_img{
    width:1.5rem;
    height:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px #eaeaea dashed;
    cursor: pointer;
    margin-left:0.1rem;
}
.recruit_add_img:first-child{
    margin-left:0;
}
.img_div{
    width:1.5rem;
    height:1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:2px #eaeaea solid;
    position: relative;
}
.img_div:not(:first-child){
    margin-left:0.1rem;
}
.img_box{
    display: flex;
}
.img_div img{
    width:100%;
}
.recruit_add_img > i{
    color:#eaeaea;
}
.del_div{
    position: absolute;
    right:5px;
    top:5px;
}
.del_div > i{
    transform: rotate(45deg);
    font-size:0.3rem;
    color:white;
    background:rgba(0,0,0,0.4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding:0.05rem;
    cursor: pointer;
}

.type_div{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0.25rem;
}
.type_div > div{
    width:48%;
    border:1px #eaeaea solid;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding:0.1rem 0;
    cursor:pointer;
    transition: all .2s;
    background:white;
}
.wp_text{
    border-top:1px #eaeaea solid;
    border-bottom:1px #eaeaea solid;
    padding:0.25rem 0;
    display: flex;
}
.wp_text > div{
    flex:1;
}
.address{
    border-top:none;
}
.address > div{
    flex:2;
}
.wp_text textarea{
    border:none;
    padding:0;
    flex:7;
    font-size:12px;
}
.img_span_le{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:12px;
    color:silver;
    margin:0.2rem 0;
}
.ps{
    color:red;
    font-size:0.2rem;
    padding-top:0.1rem;
    display: block;
}