<title>积分商城 - 云屯务集</title>
<div class="header">
  <div class="go_back_btn" (click)="back_to_history()">
    <i class="fa fa-angle-left posi_left"></i>
  </div>
  <span>积分商城</span>
</div>
<div class="integral_shop" *ngIf="(user || user == '0') && gift">
  <div class="integral_blue_big_div">
    <div class="integral_blue_div">
      <div class="integral_value_div">
        <span>当前可用积分：</span>
        <img class="integral_help_img" src="../../../assets/images/integral_help.png" alt="">
      </div>
      <div class="integral_num_div">
        <span>{{ user }}</span>
        <div class="integral_bill" routerLink="/user-bill">
          <span>积分账单</span>
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="integral_gift">
    <div class="gift_list">
      <div class="active" data-type="1" (click)="list_qh($event.currentTarget)">午餐交通补贴</div>
      <div data-type="2" (click)="list_qh($event.currentTarget)">薪酬增益</div>
      <div data-type="3" (click)="list_qh($event.currentTarget)">礼品保险</div>
    </div>
    <div class="gift_all" *ngIf="show_type != 3">
      <div class="user_list" *ngIf="show_gift && show_gift == ''">
        <p>没有此类型的礼品</p>
      </div>
      <div class="gift_one" *ngFor="let i of show_gift">
        <div class="gift_text">
          <span>
          {{ i?.num }}
          <span class="small_text">{{ i?.name }}</span>
            </span>
          <img class="gift_notes" (click)="alert_notes($event.currentTarget)" alt="{{ i?.notes }}" src="../../../assets/images/help_red.png" alt="">
        </div>
        <div class="gift_integral">
          <span class="need_integral">需扣积分：{{ i?.integral }}</span>
          <div class="plane_btn" *ngIf="user >= i?.integral" (click)="exchange_voucher(i?.id,i?.integral)">兑换</div>
          <div class="plane_btn cant_click" *ngIf="user < i?.integral">兑换</div>
        </div>
      </div>
    </div>
    <div class="gift_all_big" *ngIf="show_type == 3">
      <div class="user_list" *ngIf="show_gift && show_gift == ''">
        <p>没有此类型的礼品</p>
      </div>
      <div class="gift_for_img_one" *ngFor="let i of show_gift">
        <img src="{{ i?.img }}" alt="">
        <p class="gift_name">{{ i?.name }}</p>
        <span class="need_integral">需扣积分：{{ i?.integral }}</span>
        <br>
        <div class="plane_btn_big" *ngIf="user >= i?.integral" (click)="exchange_voucher(i?.id,i?.integral)">兑换</div>
        <div class="plane_btn_big cant_click" *ngIf="user < i?.integral">兑换</div>
      </div>
    </div>
  </div>
  <div class="my_voucher">
    <button class="btn scs-btn" routerLink="/my-voucher">查看我兑换的券</button>
  </div>
  <div class="integral_help">
    <p>积分说明</p>
    <div class="integral_notes">
      1.积分是由做兼职得来的，一次兼职积分在5-10点左右。<br>
      2.兑换券可在结算工资时使用。<br>
      3.一类券分为：交通券，餐券，节日券。一次兼职可选择两张券一起使用，同类券里的同种券在本次里不得叠加使用。<br>
      4.二类券分为：薪酬增益券。一次兼职只可选择一张使用。<br>
      5.一类券（该类券）单次里不得与二类券同时使用<br>
      6.兑换后，请持该券二维码到（深圳技师学院）天工楼301处兑换。<br>
    </div>
  </div>
  <div class="call_customer" routerLink="/customer">联系客服</div>
</div>
<div class="footer"></div>